# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Dependencies
node_modules/

# Next.js build output
.next/
out/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
